.App {
  text-align: center;
  background-color:#E8F4EB;
  color: #6C5C43;
  font-family: 'Avenir Black';
  font-weight: bold;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#searchBar {
  width: 98vw;
  height: 5vh;
  text-align: center;
  font-size: xxx-large;
  font-weight: bold;
  color: #6C5C43;
  border: 5px solid #08B7AC;
}

.favBox {
  background-color: #08B7AC;
  color: white;
}

.cardContainer {
  display: inline-block;
  border: 8px solid;
  margin: 0.5%;
}

.villagerPic {
  width: 10vw;
}

.cardContainer:hover {
  border: 8px solid #08B7AC;
}

